.dark-mode {
  background-color: #0d1117; /* Example dark background */
  color: white;
  transition: background-color 0.1s, color 0.1s;
}

.main-container {
  background-color: #d7edf6;
}

.skills-education-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

@media (min-width: 1025px) {
  .skills-education-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .skills-education-container > * {
    flex: 1;
    margin: 0;
  }
}