.profile-image {
  border-radius: 50%;
  border: 0.5rem solid #78abee; /* Replace with your intended githubProfileCardBorder color */
  margin-left: auto;
  width: 100%;
  max-width: 350px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0 30px 30px -30px; /* lightBoxShadow */
  transition: all 0.3s ease-out;
}

.profile-image:hover {
  box-shadow: none;
}

.location-div {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* githubProfileCardLocationTS */
}

.opp-div {
  padding-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 1rem;
}

.main-content-profile {
  flex: 1;
  min-width: 300px;
  text-align: left;
}

.image-content-profile {
  flex: 0 0 auto;
  max-width: 300px;
  text-align: center;
}

.bio-text {
  line-height: 30px;
  font-size: 22px;
}

.desc-prof {
  line-height: 45px;
  font-size: 19px;
}

.subTitle {
  color: #8892b0; 
  font-size: 16px;
  line-height: normal;
}

.email {
  color: #8892b0;
  font-size: 16px;
  line-height: normal;
}

.email:hover {
  color: #090a0a; 
  transform: translateY(-2px); 
}

.prof-title {
  font-size: 56px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-content-profile {
    order: 2;
    text-align: center;
    width: 100%;
  }

  .image-content-profile {
    order: 1;
    width: 100%;
    max-width: 250px;
  }

  .bio-text {
    font-size: 16px;
  }

  .desc-prof {
    color: #8892b0;
    line-height: 30px;
    font-size: 16px;
  }

  .profile-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .profile-image:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 50px 50px -50px;
    transition: 0.3s ease-out;
  }

  .prof-title {
    font-size: 32px;
  }
}