.App {
  text-align: center;
  background-color: #d7edf608;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #00000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fixed-side {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: 1000;
  background-color: rgba(215, 237, 246, 0); /* Make it slightly transparent */
  pointer-events: none;
}

.fixed-side.left {
  left: 1rem;
}

.fixed-side.right {
  right: 0rem;
}

.fixed-side-content {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  text-orientation: upright;
  writing-mode: vertical-rl;
  text-align: center;
  color: #120da0;
  pointer-events: auto; /* enable interaction for inner content */
}

.fixed-side-content::after {
  content: '';
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 200vh;
  background-color: #120da0;
  opacity: 0.5;
}

.main-wrapper {
  margin-left: 5rem; /* Fixed left margin */
  margin-right: 3rem; /* Fixed right margin */
}

@media (max-width: 768px) {
  .fixed-side {
    display: none; /* or reposition if you prefer */
  }

  .main-wrapper {
    margin-left: 0px; /* Fixed left margin */
    margin-right: 0px; /* Fixed right margin */
  }
}
